# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# PyGraphviz related files
*.dot

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installers
*.deb
*.rpm
*.msi
*.msm
*.exe
*.dmg
*.pkg
*.mpkg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django migrations
*/migrations/*.pyc

# Pyenv
.python-version

# dotenv
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.swp
*~

# System Files
.DS_Store
Thumbs.db
notes.txt